.wrapper {
    background-color: rgb(14, 22, 38) ;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subtagline {
    font-size: 1.5rem;
    color: goldenrod !important; 
    display: flex;
    align-items: center;
    gap: 5px;
}

.getSpace{
    margin-left: 80px;
}


.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(14, 22, 38);
    margin-top: 50px;
}

.watchCard {
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

h4 {
    background-color: rgb(14, 22, 38);
    color: white;
}
.background{
    background-color: rgb(30,30,30);
}

.watchImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-color: #0e1626;
}

.data {
    color: white;
    background-color: rgb(14, 22, 38);
}

.bg {
    background-color: rgb(14, 22, 38);
}

.continueWatchingGrid {
    display: grid;
    background-color: rgb(14, 22, 38);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 16px;
}

@media (max-width: 768px) {
    .continueWatchingGrid {
        grid-template-columns: 1fr; 
        margin-left: 20px; 
    }

    .watchImage {
        height: 200px; 
    }

    .body {
        padding: 10px; 
    }

    .data {
        font-size: 18px; 
    }

    h4 {
        font-size: 20px; 
        padding: 10px 0;
    }

    @media (max-width: 480px) {
        .watchImage {
            height: 180px; 
        }

        .continueWatchingGrid {
            gap: 10px; 
        }

        h4 {
            font-size: 18px;
        }

        .data {
            font-size: 16px; 
        }
    }
}
