/* LoginContainer.module.css */
.container {
    width: 100%;
    padding-left: 65px; 
  }
  
  @media (max-width: 768px) {
    .container {
      padding-left: 0; 
    }
  }
  

/* LoginPage.module.css */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 2rem; 
    min-height: 100vh;
    text-align: center;
    padding-top: 150px;
    background-color: rgb(14,22,38) !important;
  }
  
  .image {
    margin-bottom: 1.5rem; 
  }
  
  .logo {
    width: 350px; 
    height: auto;
  }
  
  .title {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
  }
  
  .para {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem;
  }
  
  .button {
    font-size: 1.25rem;
    width: 250px;
    height: 60px;
    padding: 0.5rem 2rem;
    background: linear-gradient(to right, rgb(16,91,221), rgb(20,61,155)); 
    border: none  !important; 
    color: white;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(30, 117, 211, 0.5);
  } 
  
  @media (max-width: 768px) {
    .wrapper {
      padding-top: 3rem;
    }
  
    .logo {
      width: 200px; 
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    .para {
      font-size: 1rem;
    }
  
    .button {
      font-size: 1rem;
      padding: 0.4rem 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .wrapper {
      padding-top: 2rem;
    }
  
    .logo {
      width: 180px; 
    }
  
    .title {
      font-size: 1.2rem;
    }
  
    .para {
      font-size: 0.9rem;
    }
  
    .button {
      font-size: 0.9rem;
      padding: 0.3rem 1.2rem;
    }
  }
  