/*SearchConatiner*/
.container {
    width: 100%;
    padding-left: 70px;
  }
  
  @media (max-width: 768px) {
    .container {
    position: absolute;
    padding-left: 0; 
    }
  }

  .box{
    overflow: 'hidden';
    white-space: 'nowrap';
    display: 'flex';
    gap: 20px;
    padding: 20px;
  }
  