.subscription-container {
    background-image: linear-gradient(0deg, rgba(15,16,20,1) 42%, rgba(14,21,36,1) 95%, rgba(14,21,36,1) 100%);
}

.subscription-box {
    height: 100vh;
    padding: 1.5%;
}

.language-button{
    background-color: rgb(32,40,58) !important;
    color: white !important;
    padding: 12px !important;
    font-weight: bold !important;
    border-radius: 4% !important;
    width: 200px !important;
}

.align-center {
    text-align: center !important;
}

.plans{
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.close-icon {
    margin-right: 16px;
    cursor: pointer;
}

.help-button-container {
    display: flex;
    justify-content: flex-end;
}

.subText{
    color: rgb(255, 255, 255,0.5) !important;
}

.premium-plan{
    font-weight: bold !important;
}

.subscription-content {
    padding-top: 24px;
}

.left-column .heading {
    padding-top: 10%;
    font-weight: bold;
    font-size: 33px;
}

.offer-box {
    margin-top: 50px;
    padding: 15px;
    padding-top: 20px;
    border: 0.3px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    display: flex;
    align-self: center;
}

.offer-text {
    font-weight: bold;
}

.discount-icon {
    margin-right: 8px;
}

.subscription-table {
    font-size: 18px;
    min-width: 650px;
    border: none;
}

.subscription-table th,
.subscription-table td {
    border: none;
    font-size: inherit;
}

.super-plan {
    color: orange !important;
    font-weight: bold !important;
    background-color: rgb(30, 32, 41) !important;
}

.super-cell {
    background-color: rgb(30, 32, 41) !important;
}

.plan-toggle {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 5px;
}

.plan-options {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background-color: rgb(32,40,58);
    color: white;
    border-radius: 30px;
    width: 35%;
}


@media (max-width: 900px) { 
    .plan-options {
        width: 60%;
    }
}

@media (max-width: 768px) { 
    .plan-options {
        width: 100%; 
    }
}


.plan-box {
    padding: 16px;
}

.super-plan-box,
.premium-plan-box {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 15px;
}

.premium-plan-box {
    border-color: rgba(255, 255, 255, 0.2);
}

.plan-name {
    color: rgb(255, 204, 117);
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.plan-price {
    margin: 0;
    font-size: 30px;
    display: flex;
    align-items: baseline;
}

.price {
    margin-right: 4px;
    font-weight: bold;
}

.duration {
    vertical-align: sub;
    font-size: 15px;
}

.discount-details {
    margin: 0;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: rgb(112, 122, 148);
}

.discount {
    color: rgb(50, 126, 224);
}

.continue-button-container {
    padding: 15px;
    padding-top: 10px;
}

.continue-button {
    background-color: rgb(8, 57, 176) !important;
    color: white !important;
    font-weight: bold !important;
    padding: 1rem !important;
}

.check-icon{
    color: rgb(76, 76, 242);
}