.body {
    position: relative;
}

.scrollContainer {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

.scrollButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: none !important;
    border: none !important;
    color: white; /* Ensures arrow is visible */
    font-size: 2rem; /* Adjust font size for better visibility */
    cursor: pointer; /* Change cursor to pointer for a better UX */
}

.scrollButton:first-of-type {
    left: 0;
}

.scrollButton:last-of-type {
    right: 0;
}








