.body {
  /* height: 250vh; */
  background-color: rgb(14, 15, 20) !important;
  background-position: center !important;
  background-size: cover !important;
  
}

@media screen and (max-width: 768px) {
  .body {
    background-color: rgb(14, 15, 20) !important;
  }
}
