   .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .d-block {
    display: block;
  }
  
  .w-100 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }


  /*conatiner css*/
  .Container {
    display: flex;
    width: 100%;
  }
  
  .Content {
    padding-left: 70px;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .Content {
    position: absolute;
    padding-left: 0; 
    }
  }
  