.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }
  
  .image {
    width: 100%;
    height: auto;
    max-height: 90vh; 
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .image {
      max-height: 70vh; 
    }
  }
  
  @media (max-width: 576px) {
    .image {
      max-height: 50vh;
    }
  }
  








  /*conatiner css*/
  .Container {
    display: flex;
    width: 100%;
  }
  
  .Content {
    padding-left: 70px;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .Content {
    position: absolute;
    padding-left: 0; /* Remove padding on small screens */
    }
  }
  